.input-location {
  width: 100%;
  margin: 5rem auto 0 4rem;
  position: relative;
}

.location-input {
  border: none;
  width: 100%;
  border-bottom: .1rem solid #B8B8B8;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #000000;
  padding: 0 1rem 1.1rem 3rem;
}

.location-position {
  position: absolute;
  top: 0;
  left: 0;
}

.edit-position {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.exclematory-position {
  position: relative;
  margin: 3.2rem auto 0 4rem;
}

.exclematory-text {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #000000;
  opacity: 0.5;
  padding: 0 1rem 1.1rem 3rem;
}

.position-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.group-content {
  margin: 5rem auto 0 4rem;
}

.group-mainHeading {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.002rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2rem;
}

.group-heading {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1.8rem;
  color: #000000;
  margin-bottom: 0;
  cursor: pointer;
  margin-left: 2rem;
}

.group-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.follow-button {
  width: 100%;
  display: block;
  margin: 0 auto;
  background: #FFFFFF;
  border: 0.1rem solid #989899;
  border-radius: 0.4rem;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #6A6A6B;
  padding: 0.6rem 1.2rem;
}


@media (max-width:770px) {
  .location-input {
    width: 70%;
  }

  .edit-position {
    bottom: 25%;
    right: 30%;
  }

  .follow-button {
    width: 80%;
    margin: 0 0 2.5rem 0;
  }
}