.position-postheader {
  width: 100%;
  position: sticky;
  top: 78px;
  z-index: 1;
  background-color: #FFFFFF;
  padding-top: 3rem;
}

.navbar-nav a {
  margin-right: 2rem !important;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #8A8A8A;
}

.post-button {
  width: 133px;
  height: 38px;
  background: #EDEEF0;
  border-radius: .4rem;
  border: 0;
  outline: 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
  padding: 1rem 1.2rem;
}

.group-button {
  width: 133px;
  height: 36px;
  background: #2F6CE5;
  border-radius: .4rem;
  border: 0;
  outline: 0;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  padding: .8rem 1.2rem;
}

.leave-group-button {
  background: #FFFFFF;
  border: .1rem solid #989899;
  border-radius: .4rem;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #6A6A6B;
  padding: .8rem 1.2rem;
}

.horizantal-line {
  border: 1px solid #E0E0E0;
  margin: 1.5rem 0;
}

.post-date {
  margin-right: 4.4rem;
}

.post-company {
  margin-right: 4.4rem;
}

@media (max-width:990px) {
  html {
    font-size: 55%
  }
  .position-postheader {
    top: 65px;
    padding-top: 2rem;
}
}
@media (max-width:770px) {
  html {
    font-size: 50%
  }
  .position-postheader {
    top: 60px;
    padding-top: 2rem;
}
}